@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Web for manage a local Database of Movies and realations with Genres and Actors of movies, CRUD methods for Actors, Genres and Movies.</p>
<p></p>